#demoVideo {
  margin-top: 50px;
  width: 580px;
  height: 370px;
  float: left;
  position: relative;
  left: 300px;
}

#demoInstructions {
  position: relative;
  float: right;
  width: 330px;
  height: 570px;
  padding-top: 20px;
  display: inline-block;
  background-color: #fff;
  box-shadow: -10px 0px 15px rgba(144, 144, 144, 0.15);
}

#demoInstructions li {
  display: block;
  line-height: 30px;

  a {
    color: #333;
    text-decoration: none;

    &:hover {
      color: #444140;
    }
  }
}

#demoInstructions li .instructionsNumber {
  color: #119dd9;
}

