@import "bootstrap-sass/lib/bootstrap";

$HP_SPRITE: "https://www.hpcloud.com/sites/default/themes/hp_cloud_tile_base/images/icon.png";

@font-face {
  font-family: "HP Simplified";
  src: url(http://www.hpcloud.com/sites/default/themes/hp_cloud_tile_base/fonts/HPSimplified-Bold.eot);
  src:url(http://www.hpcloud.com/sites/default/themes/hp_cloud_tile_base/fonts/HPSimplified-Bold.eot?#iefix) format('eot')
}

@font-face {
  font-family:"HP Simplified Rg";
  src:url(http://www.hpcloud.com/sites/default/themes/hp_cloud_tile_base/fonts/HPSimplifiedW01-Regular.eot);
  src:url(http://www.hpcloud.com/sites/default/themes/hp_cloud_tile_base/fonts/HPSimplifiedW01-Regular.eot?#iefix) format('eot')
}


$HEADER_PADDING:20px;
$HEADER_HEIGHT:21px;

$HEADER_TOTAL_HEIGHT:$HEADER_PADDING + $HEADER_HEIGHT;

html, body, .body {
  height: 100%;
  width: 100%;
  margin:0;
  padding:0;
}

body{
  overflow:auto;
  background: url(/images/pageBG.png) repeat;
}

.hp-header {

  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  height: $HEADER_HEIGHT;
  padding: 10px 20px 20px 20px;

  background-color: #f5f5f5;
  background-position: 0% -1412px;
  background-repeat: repeat-x;
  -webkit-box-shadow: #909090 0 1px 8px;
  box-shadow: #909090 0 1px 8px;


    position: relative;
    background: url(/images/navBG.png) repeat;
    min-width: 1250px;

    .container {
      width: 920px;

    .navigation {

      width: 920px;
      margin: 0 auto;
      position: relative;

      ul {
        margin: 0;
        padding: 0;
        list-style: none;
        list-style-image: none;

        li {
          float: left;
          position: relative;

          &.active a, a:hover{
              background-color: #42bff4;
              color: white
          }

          a {
            display: block;
            padding: 5px 20px;
            float: left;
            margin-right: 5px;
            text-decoration: none;
            color: #414141;
            font-size: 16px;
            border-radius: 10px;
          }
        }
      }
    } }

}

#container.container{
  width: 100%;
  background: url(/images/pageBG.png) repeat;
}

$LOGO_HEIGHT:115px;
#main-header {
  background: #42bff4 url(/images/header.png) no-repeat center center;
  width: 100%;
  height: $LOGO_HEIGHT;
  cursor: pointer;
  min-width: 1290px;
}


#content{
  padding-bottom:100px;
}
#main-content {
  width: 1290px;
  height: 100%;

  margin-right: auto;
  margin-left: auto;
  background: url(/images/pageBG.png) repeat;
}

#widget-content {
  width: 1290px;
  height: 570px;
  margin-right: auto;
  margin-left: auto;
  background: url(/images/widgetBG.png) repeat;
}

$FOOTER_HEIGHT:80px;

#content-wrapper{
  min-height: 100%;
  height: auto !important;
  margin-bottom:-$FOOTER_HEIGHT;
  height: 100%;
  margin: 0 auto -$FOOTER_HEIGHT; /* the bottom margin is the negative value of the footer's height */
}
#push{
  height:$FOOTER_HEIGHT;

}

#footer{
  height:$FOOTER_HEIGHT;

  &.hidden{
    display:none;
  }

  #stepsBar{
    height:$FOOTER_HEIGHT;
    .stepsWrapper{
      float: left;
      cursor: auto;

      height: $FOOTER_HEIGHT;
      min-width: 1290px;
      width: 100%;
      overflow: hidden;
      background-color: #dcdcdc;

      ul {
        width: 545px;
        margin: 10px auto;
        background: transparent url(/images/steps.png) no-repeat center 9px;

        .activeText {
          color: #184155;
        }

        li {
          display: inline-block;
          height: 30px;
          line-height: 30px;
          width: 180px;
          margin: 5px 1px 0 0;
          position: relative;
          text-align: center;
          color: #a6a6a6;
          font-size: 14px;
          word-wrap:normal;

          .stepIcon {
            width: 27px;
            height: 27px;
            margin-left: auto;
            margin-right: auto;
            font-size: 14px;
            color: #a6a6a6;
          }

          .activeStep {
            position: relative;
            top: 2px;
            left: 1px;
            width: 26px;
            height: 28px;
            background: url(/images/activeStep.png) no-repeat 0px 1px;
            color: #fff;
          }

          .done {
            position: relative;
            top: 7px;
            width: 16px;
            height: 27px;
            color: transparent;
            background: url(/images/stepDone.png) no-repeat;
          }
        }

        .step1 {
          left: -33px;
        }

        .step2 {
          left: 1px;
        }

        .step3 {
          left: 38px;
        }
      }
    }
  }
}


#mainText {
  position: relative;
  height: 120px;
  border-radius: 10px;
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 40px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;

  ul {
    list-style: none;
    margin-top: 10px;
  }

  li {
    float: left;
    display: inline;
    padding-right: 10px;

    &:before {
      content: "• ";
      padding-right: 5px;
      font-size: 20px;
      color: #0096d6;
    }
  }
}

#mainStepsContainer {
  height: 110px;
  width: 970px;
  margin-left: auto;
  margin-right: auto;
  float: none;
  right: 0px;

  ul {
    list-style: none;

    li {
      float: left;
      display: inline;
      text-align: center;
      font-size: 20px;
      padding-right: 20px;
      padding-top: 10px;
      width: 160px;
      height: 50px;

      &.run-cloudify{
        margin-left:130px;
      }

      button {
        width: 140px;
        height: 50px;
        font-size: 22px;
        margin-top: 10px;
        position: relative;
        &.run-cloudify{
          width:280px;
        }
      }

      #mainStepRegistered {
        margin-top: 29px;
      }
    }

    li.orSeperator {
      padding-top: 57px;
      width: 70px;
      font-size: 30px;
    }
  }
}

.sign-up-now{
  text-transform: uppercase; display:inline-block; margin-left:20px; text-align: center;
}


