#widgets {
  width: 271px;
  height: 570px;
  position: relative;
  float: left;
  overflow-y: hidden;
  overflow-x: hidden;
  display: inline-block;
  box-shadow: 10px 0px 15px rgba(144, 144, 144, 0.15);

  ul {
    background-color: #f5f5f5;
    margin: 0 0 10px 0px;
  }

  li {
    background-color: transparent;
    list-style: none;
    margin: 0px 10px 0px 10px;
    height: 56px;
    width: 251px;
    padding-left: 10px;
    cursor: pointer;
    border-bottom: #d0d0d0 solid 1px;
    box-shadow: 5px 0px 5px rgba(144, 144, 144, 0.15);

    #widgetIcon {
      float: left;
      margin-right: 10px;
      margin-top: 7px;

      filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
      filter: gray; /* IE6-9 */
      -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
    }

    #widgetName {
      padding-top: 19px;
      padding-left: 10px;
      font-size: 18px;
      color: #444140;

      &:hover {
        color: #0096d6;
      }
    }
  }
}

#widgets .selected {
  background-color: #fff;

  #widgetIcon {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(0%);
  }
}

#selectedArrow {
  width: 0px;
  height: 0px;
  border-top: 28px solid transparent;
  border-bottom: 29px solid transparent;
  border-left: 15px solid #FFF;
  float: left;
  position: relative;
}

#skin {
  width: 696px;
  float: left;
  height: 90%;
  display: inline-block;
  position: relative;

  #widgetSkin {
    position: relative;
    top: 30px;
    left: 100px;
  }

  #iframe {
    display: none;
  }
}

.instructions {
  position: relative;
  float: right;
  width: 240px;
  height: 95%;
  padding-top: 20px;
  padding-right: 30px;
  display: inline-block;
  background-color: #fff;
  box-shadow: -10px 0px 15px rgba(144, 144, 144, 0.15);
}

.instructions li {
  display: block;
  line-height: 30px;
}

.instructions li .instructionsNumber {
  color: #119dd9;
}