#widgets {
  width: 271px;
  height: 570px;
  position: relative;
  float: left;
  overflow-x: visible;
  display: inline-block;
  box-shadow: 10px 0px 15px rgba(144, 144, 144, 0.15);

  ul {
    background-color: #f5f5f5;
    margin: 0 0 10px 0px;
  }

  li.widgetItem {
    background-color: transparent;
    list-style: none;
    background-color:#f5f5f5;
    margin: 0px 10px 0px 10px;
    height: 56px;
    width: 100%;
    padding-top: 0;
    padding-right: 0;
    padding-left: 10px;
    padding-bottom: 0;
    margin:0;

    &.selected{
      background-color: #fff;

      #widgetIcon {
        filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
        -webkit-filter: grayscale(0%);
      }

      &:after{
        content:"";
        display:block;

        border-style:solid;
        border-top-width: 29px;
        border-right-width: 29px;
        border-left-width: 10px;
        border-bottom-width: 29px;
        border-top-color:transparent;
        border-right-color:transparent;
        border-bottom-color:transparent;
        border-left-color:#fff;

        position:relative;
        left:271px;
        top:-40px;
      }

    }

    cursor: pointer;
    border-bottom: #d0d0d0 solid 1px;
    box-shadow: 5px 0px 5px rgba(144, 144, 144, 0.15);

    #widgetIcon {
      float: left;
      margin-right: 10px;
      margin-top: 7px;

      filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
      filter: gray; /* IE6-9 */
      -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
    }

    #widgetName {
      padding-top: 19px;
      font-size: 18px;
      color: #444140;

      &:hover {
        color: #0096d6;
      }
    }
  }
}

#skin {
  width: 696px;
  float: left;
  height: 90%;
  display: inline-block;
  position: relative;

  #widgetSkin {
    position: relative;
    top: 30px;
    left: 100px;
  }

  #iframe {
    display: none;
  }


  #userTitle {
    position: relative;
    left: 100px;
    top: 20px;
    color: #222222;
    font-size: 18px;

    #signout, #activate {
      font-size: 12px;
      color: #3fb0e0;
      cursor: pointer;
    }
  }

  #userTimeLeft {
    position: relative;
    left: 100px;
    top: 20px;
    color: #222222;
    font-size: 18px;
    font-size: 14px;
  }
}

.instructions {
  position: relative;
  float: right;
  width: 240px;
  height: 570px;
  padding-right: 30px;
  display: inline-block;
  background-color: #fff;
  box-shadow: -10px 0px 15px rgba(144, 144, 144, 0.15);

  .instructionsNote {
    margin-left: 40px;
  }
}

.instructions ol {
  margin: 10px 0 10px 25px;
}

.instructions li {
  line-height: 30px;
  margin-left: 15px;

  a {
    color: #333;
    text-decoration: none;
  }
}