#signupText {
  float: left;
  font-size: 23px;
  li {
    line-height: 34px;
  }
}

#signupSteps {
  position: relative;
  float: right;
  background-color: #279bd6;
  border-radius: 10px;
  color: #fff;
  font-size: 22px;
  text-shadow: none;
  padding: 20px 0px 10px 20px;
  width: 290px;
  height: 120px;
  li {
    line-height: 26px;
  }
}

#formContainer {
  width: 100%;
  background-color: #279bd6;
  border-radius: 10px;
  float: left;
  margin-top: 20px;

  #detailsForm {
    position: relative;
    margin: auto;
    height: 260px;
    width: 600px;
    color: #fff;
    text-shadow: none;

    #formRequiredText {
      position: relative;
      right: 20px;
      top: 20px;
      float: right;
      color: #a30000;
    }

    form {
      float: left;
      position: absolute;
      left: 30px;
      padding-top: 10px;

      .requiredStar {
        color: #a30000;
      }

      td {
        padding-right: 10px;
      }

      #submitBtn {
        position: relative;
        left: 470px;
        top: -47px;
        width: 80px;
        height: 40px;
        background-color: #fff;
        color: #279bd6;
        border-radius: 10px;
        border: none;
        &:hover {
          background-color: #e8e8e8;
          font-weight: bold;
        }
      }

    }
  }
}

#checkMailPopup {
  display: none;
  width: 410px;
  height: 200px;
  position: relative;
  background-color: #e89626;
  color: #fff;
  font-size: 22px;
  text-align: center;
  margin:0 auto;
  border-radius: 10px;
  padding: 20px 10px 10px 0px;

  p {
    position: absolute;
  }
}