#skin-content {
  margin-right: auto;
  margin-left: auto;
}

iframe{
  overflow: visible;
  border:none;
  display: block;
  margin: 0 auto;
}

body {
    font-family: "HP Simplified Rg", Arial, Helvetica, sans-serif;
    color: #333;
    font-size: 1em;
    line-height: 1.4;
    overflow-x: hidden;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

#widgetContainer {
  width: 630px;
  height: 425px;
}

.hidden {
  position: relative;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

#widget-header {
  width: 630px;
  height: 46px;

  #title {
    color: #222222;
    font-size: 30px;
    position: relative;
    font-weight: bold;
    top: 5px;
    float: left;
  }
}

#logContainer {
  color: #000;
  position: relative;
  height: 170px;
  width: 542px;
  top: 5px;
  overflow-y: hidden;
  border-radius: 10px;
  background-color: #fff;
  border: 2px solid #c1c1c1;
  box-shadow: 0px 0px 15px 0px rgba(144, 144, 144, 0.5);
}

#log {
  font-size: 14px;
  text-shadow: none;
  list-style-type: none;
  height: 129px;
  width: 480px;
  overflow-y: hidden;
  position: relative;
  top: 14px;

  li{
    &.error{
      color: #E95625;
      font-size: 16px;
      font-weight: bold;
    }
    &.log-ellipsis{
      display:none;
      &:last-child{
        display:block;
      }
    }
  }
}


#log li.important {
  font-size: 16px;
  font-weight: bold;
}

#log li.important a {
  color: #F09927;
}

#log li::-moz-selection,
#log li a::-moz-selection {
  background-color: #F09927;
  color: #FFF;
}

#log li::selection,
#log li a::selection {
  background-color: #F09927;
  color: #FFF;
}

#links {
  list-style-type: none;
  position: relative;
  top: 7px;
  font-size: 14px;
  width: 500px;
  display: inline-block;
  color: #3fb0e0;

  a {
    color: black;
  }

  li {
    float: left;
    margin-right: 9px;
    padding: 0;

    .mock_text {
      display: none;
    }

    #manageApp {
      min-width: 130px;
    }

    .consoleManageArrow {
      width: 0px;
      height: 0px;
      top: 4px;
      position: relative;
      border-radius: 0px;
      padding-right: 5px;
      float: left;
      border-top: 6px solid transparent;
      border-bottom: 6px solid transparent;
      border-left: 6px solid #000;
    }

    a {
      display: inline;
      color: #3fb0e0;
    }
  }

  li.mock .mock_text {
    display: inline;
  }

  li.mock a {
    display: none;
  }
}

#time_left {
  color: #000;
  font-size: 20px;
  position: absolute;
  top: 5px;
  right: 30px;
  background-color: #FFF;
}

#time_left_counter {
  font-weight: bold;
}

#video_container {
  position: relative;
  background-color: #000;
  border: 2px solid #fff;
  float: left;

  #widgetVideo {
    width: 100%;
    height: 100%;
  }
}

.videoPreview {
  top: 15px;
  left: 100px;
  width: 323px;
  height: 183px;
}

.videoRegistered {
  top: 30px;
  width: 284px;
  height: 161px;
}

#video_container object {
  position: absolute;
  left: 20px;
  bottom: 65px;
}

#video_container object, #video_container embed {
  height: 108px;
  width: 280px;
}

.advanced_section {
  width: 272px;
  height: 164px;
  position: relative;
  top: 30px;
  left: 22px;
  background-color: #f3f3f3;
  border: 1px solid #fff;
  float: left;
  border-radius: 5px;
}

.advanced_section.collapsed {
  height: 46px;
  bottom: 177px;
}

.advanced_section.collapsed .advanced_form {
  display: none;
}

.advanced_section .remember_creds {
  display: none;
}

.advanced_section.should_remember .remember_creds {
  display: block;
}

.advanced_section #advancedArrow {
  width: 9px;
  height: 9px;
  background-image: url('/images/advanced_arrow.new.png');
  position: relative;
  top: 6px;
  left: 24px;
  float: left;
}

.advanced_section #advancedTitle {
  position: relative;
  left: 20px;
  top: 10px;
  float: left;
  color: #222222;
  font-size: 16px;
}

.advanced_form {
  position: absolute;
  top: 40px;
}

.advanced_section .advanced_form input {
  width: 220px;
  height: 30px;
  margin-bottom: 3px;
  padding: 0 5px;
  left: 20px;
  position: relative;
  background-color: #fff;
  border-width: 1px;
  border-radius: 5px;
  border: 1px inset;
}

.remember_creds {
  z-index: 2;
  background: #ECECEC;
  position: absolute;
  height: 154px;
  width: 280px;
  margin-left: -12px;
  margin-top: 2px;
}

.remember_creds .remember_me_title {
  margin: auto;
  border-bottom: 1px solid;
  width: 160px;
  padding-top: 10px;
  text-align: center;
}

.remember_creds .remember_option {
  text-align: center;
  margin-top: 10px;
}

.remember_creds .remember_option button {
  height: 35px;
  width: 133px;
}

#controls {
  position: absolute;
  top: 37px;
  right: 230px;
  height: 100px;

  .play{
    #play_btn{display:none;}
  }

  .stop{


    #stop_btn{ display:none;}
  }

  .button {
    height: 80px;
    width: 80px;
    position: absolute;
    top: 95px;
    left: 40px;
    background-color: #fff;
    border-radius: 70px;
    border: 8px double #dbdbdb;
    &:hover {
      cursor: pointer;
    }
  }

  #play_btn {
    width: 0px;
    height: 0px;
    top: 16px;
    left: 32px;
    position: relative;
    border-radius: 5px;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-left: 30px solid #ff5a00;
    &.disabled {
      border-left: 30px solid #dbdbdb;
    }
  }
}






#stop_btn {
  background-color: #ff5a00;
  width: 45px;
  height: 46px;
  border-radius: 5px;
  top: 18px;
  position: relative;
  left: 18px;
}

.form-footer-links {
  margin-right: 5px;
  font-size: 12px;
  position: relative;
  float: right;
  top: 7px;
  right: 6px;
}

.form-footer-links a {
  position: relative;
  color: #000;
  text-decoration: none;
}

.form-footer-links a:hover:after {
  content: 'If you\2019re an HP Cloud Services User, Use the Api Keys in the HP Cloud Console to get the cloud credentials. The screen shot below outlines the properties you need retrieve from the HPCS console:';
  position: absolute;
  bottom: 15px;
  right: 0;
  display: block;
  width: 350px;
  height: 310px;
  border: 1px solid #00B4DA;
  padding: 12px;
  background: #e6e6e6 url("/images/hp-tooltip.jpg") 50% 100% no-repeat;
  color: #213540;
  box-shadow: 1px 1px 7px #777;
  z-index: 999;
}

#createAccount {
  position: relative;
  width: 270px;
  height: 20px;
  text-align: center;

  a {
    color: #444140;
    text-decoration: none;
    font-size: 12px;

    &:hover {
      color: #0096d6;
    }
  }
}