<div id="main-content" class="clearfix">
    <iframe id="demoVideo" src="//www.youtube.com/embed/VkQ3ppHeGX4" frameborder="0" allowfullscreen></iframe>
    <div id="demoInstructions">
        <ol>
            <li>Click the play button to start demo</li>
            <li><a href="#/preview">Preview</a> the catalog for up to an hour</li>
            <li><a href="#/registered">Sign up</a> for free 30 day trial</li>
        </ol>
    </div>
</div>
<div get-steps-bar id="stepsBar" current-step="{{currentStep}}"></div>
