<div id="main-content">
    <iframe id="demoVideo" src="//www.youtube.com/embed/VkQ3ppHeGX4" frameborder="0" allowfullscreen></iframe>
    <div id="demoInstructions">
        <ol>
            <li><span class="instructionsNumber">1.</span> Click the play button to start demo</li>
            <li><span class="instructionsNumber">2.</span> Click <a href="/preview">here</a> to sign up for 30 day trial</li>
            <li><span class="instructionsNumber">3.</span> Click <a href="/registered">here</a> to get Cloudify</li>
        </ol>
    </div>
</div>
<div get-steps-bar id="stepsBar" current-step="{{currentStep}}"></div>
