<div layout current-step="1">
    <div id="main-content">
        <iframe id="demoVideo" src="//www.youtube.com/embed/C_C3yur84E4" frameborder="0" allowfullscreen></iframe>
    <div id="demoInstructions">
        <div class="text">
            <ol>
                <li>Click the play button to start demo</li>
                <li><a href="#/preview">Preview</a> the catalog for up to an hour</li>
                <li><a href="#/signup">Sign up</a> for free 30 day trial</li>
            </ol>


            <a href="#/signup" class="sign-up-now">sign up for free trial now</a>
        </div>
    </div>
    </div>
</div>