<div layout>
    <div id="main-content">
        <div id="mainText">
            <h2>Open source solutions on OpenStack Cloud</h2>
            <ul>
                <li>Hassle free, single click deployment</li>
                <li>Test drive cloud services on HP Public Cloud</li>
                <li>No download, no installation needed to start</li>
            </ul>
        </div>
        <div id="mainStepsContainer" class="linedContainer">
            <ul>
                <li>Step 1<button id="mainStepSeeDemo" ng-click="redirectPage('demo')" class="submitBtn">See Demo</button></li>
                <li>Step 2<button id="mainStepRunPreview" ng-click="redirectPage('preview')" class="submitBtn">Run Preview</button></li>
                <li>Step 3<button id="mainStepSignup" ng-click="redirectPage('signup')" class="submitBtn">Free Trial</button></li>
                <li class="orSeperator">Or</li>
                <li class="run-cloudify"><button id="mainStepRegistered" ng-click="redirectPage('registered')" class="run-cloudify submitBtn">Run Cloudify on HP Cloud</button></li>
            </ul>
        </div>
    </div>
    <div id="logosBar">
        <ul ng-style="{width: iconsBarWidth}">
            <li id="logo{{widget.id}}" ng-repeat="widget in widgetsList">
                <div id="widgetIcon">
                    <img ng-src="http://{{conf.widgetServer}}/widget/icon?apiKey={{widget.apiKey}}" />
                </div>
            </li>
        </ul>
    </div>

    <div id="disclaimer">
        Disclaimer: Capacity will be limited for the Beta Period of the free trial experience to ensure quality of service. As a result, you may experience a delay in receiving a free trial slot. We thank you for your patience during this process, and please feel free to share your feedback with us.
    </div>
</div>
