<div id="hp-header" class="clearfix"  >
    <div class="banner container">
        <div class="logo span2">
            HP Logo
        </div>
        <div class="navigation span8">
            <ul>
                <li>
                    <a href="#">Menu 1</a>

                </li>
                <li>
                    <a href="#">Menu 2</a>
                    <div class="submenu">
                        <ul>
                            <li>
                                <a href="#">Menu 2 - Submenu link1</a>
                            </li>
                            <li>
                                <a href="#">Menu 2 - Submenu link2</a>
                            </li>
                            <li>
                                <a href="#">Menu 2 - Submenu link3</a>
                            </li>
                            <li>
                                <a href="#">Menu 2 - Submenu link4</a>
                            </li>
                        </ul>

                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<div id="main-content">

    <div id="widgetContainer">

        <div id="header">
            <div id="title">Widget</div>
            <div class="beta-ribbon"></div>
        </div>

        <div id="logContainer">
            <ul id="log"></ul>
            <div id="controls">
                <div class="button">
                    <div id="play_btn"></div>
                    <div id="stop_btn"></div>
                </div>
            </div>
        </div>

        <div id="video_container"></div>

        <div class="advanced_section" id="advanced">
            <div class="remember_creds">
                <div class="remember_me_title">Remember me?</div>
                <div class="remember_option"><button class="yes" onclick="$(this).trigger('yes');">Yes</button></div>
                <div class="remember_option"><button class="no" onclick="$(this).trigger('no');">No</button></div>
            </div>
            <div id="advancedHeader">
                <div id="advancedTitle">Advanced</div>
            </div>
            <form class="advanced_form" autocomplete="off">
                <input name="project_name" autocomplete="off" placeholder="project"/>
                <input name="hpcs_key" autocomplete="off" placeholder="HPCS Key"/>
                <input name="hpcs_secret_key" placeholder="HPCS Secret Key" type="password"/>

                <div class="form-footer-links">
                    <a class="form-footer-links" href="http://youtu.be/lHtOBXpouyo" target="_blank">Help</a>
                    <a style="display:none" id="hp_console_link" class="form-footer-links" href="http://console.hpcloud.com" target="_blank">HP Console</a>
                </div>
                <input type="submit" class="hidden" value="submit"/>
            </form>
        </div>

        <div id="footer">
            <div id="poweredText">Powered by:</div>
            <a href="http://hpcloud.com" target="_blank" id="hpLogo"><img class="brand_btns" src="/img/hp_cloud_icon.white.png"></a>
            <a href="http://cloudifysource.org" target="_blank" id="cloudifysLogo"><img class="brand_btns" src="/img/cloudify_icon.white.png"></a>
            <a herf="javascript:void(0)" id="patent_pending">&nbsp;&nbsp;(Patent Pending)</a>
            <div id="social">
                <span id="embed_btn"><img src="/img/share_widget.png"></span>
                <a class="share_link" id="facebook_share_link" href="http://www.facebook.com/sharer/sharer.php?u=http://launch.cloudifysource.org/admin/signin"><img src="/img/share_facebook.png"></a>
                <a class="share_link" id="google_plus_share_link" href="https://plus.google.com/share?url=http://launch.cloudifysource.org/admin/signin"><img src="/img/share_google.png"></a>
                <a class="share_link" id="twitter_share_link" href="https://twitter.com/share?url=http%3A%2F%2Ferez.cloudifysource.org%2Fdemos%2F131%2F189c8c97-c48a-4020-b680-0146f70b0626&amp;text=Launch%20MongoDB%20on%20any%20cloud%20with%20a%20single%20click%20with%20%23cloudifysource"><img src="/img/share_twitter.png"></a>
            </div>
        </div>

        <div id="embed-code-box" style="display: none;">
            <i class="close"></i>
            <h3>Embed Code</h3>
            <p>Copy the code below to embed the widget on your website.</p>
            <textarea class="autoselect" readonly="readonly">
                &lt;script type="text/javascript" id="cloudify-widget" data-api-key="189c8c97-c48a-4020-b680-0146f70b0626" data-title="Launch MongoDB" data-host="erez.cloudifysource.org" data-video_url="http://www.youtube.com/embed/w5qr4sx5Vt0" src="http://erez.cloudifysource.org/js/get_widget.js"&gt;&lt;/script&gt;</textarea>
        </div>
    </div>

    <iframe id="iframe" style="display:none" src="http://erez.cloudifysource.org/widget/widget?apiKey=189c8c97-c48a-4020-b680-0146f70b0626&title=Launch%20MongoDB&origin_page_url=http://localhost:9000/&video_url=http://www.youtube.com/embed/w5qr4sx5Vt0"></iframe>

    <!--<iframe src="http://launch.cloudifysource.org/demos/embedded/default_demo@gigaspaces.com" style="height:100%; width:100%" ></iframe>-->
</div>

<div id="footer-container">

    <section class="homepage-social">
        <a class="icon facebook" href="https://www.facebook.com/HPCloud">Facebook</a>
        <a class="icon linkedin" href="http://www.linkedin.com/company/2591355">LinkedIn</a>
        <a class="icon twitter" href="https://twitter.com/hpcloud">Twitter</a>
        <a class="icon youtube" href="http://www.youtube.com/hpcloud">YouTube</a>
        <a class="icon email last" href="mailto:sales@hpcloud.com">Email</a>
    </section>
    <section class="openstack-text-container">
        <br><p class="homepage-openstack">The OpenStack™ Word Mark and OpenStack Logo are either registered trademarks/service marks or trademarks/service marks of OpenStack, LLC, in the United States and other countries and are used with OpenStack LLC's permission. We are not affiliated with, endorsed or sponsored by OpenStack LLC, the OpenStack Advisory Board, or the OpenStack community.</p><p></p>
    </section>

    <footer class="wrapper container">
        <nav>
            <dl>
                <dt><a href="https://www.hpcloud.com/">Products</a></dt>
                <dd><a href="https://account.hpcloud.com/signup">Sign Up</a></dd>
                <dd><a href="https://www.hpcloud.com/need_to_know">Things to know</a></dd>
                <dd><a href="https://www.hpcloud.com/products">All Products</a></dd>
                <dd><a href="https://www.hpcloud.com/partners">Partners</a></dd>
            </dl>
            <dl>
                <dt><a href="http://docs.hpcloud.com">Documentation</a></dt>
                <dd><a href="http://docs.hpcloud.com">Compute</a></dd>
                <dd><a href="http://docs.hpcloud.com/object-storage">Object Storage</a></dd>
                <dd><a href="http://docs.hpcloud.com/cli">CLI</a></dd>
                <dd><a href="http://docs.hpcloud.com/bindings">Bindings</a></dd>
            </dl>
            <dl>
                <dt><a href="https://community.hpcloud.com/">Community</a></dt>
                <dd><a href="https://blog.hpcloud.com">Blog</a></dd>
                <dd><a href="https://community.hpcloud.com/forum">Forum</a></dd>
                <dd><a href="https://community.hpcloud.com/knowledge-base">Knowledge Base</a></dd>
                <dd><a href="https://community.hpcloud.com/status">System Status</a></dd>
            </dl>
            <dl>
                <dt><a href="https://console.hpcloud.com/">Console</a></dt>
                <dd><a href="https://console.hpcloud.com/dashboard">Dashboard</a></dd>
                <dd><a href="https://console.hpcloud.com/compute">Compute</a></dd>
                <dd><a href="https://console.hpcloud.com/object_store">Object Storage</a></dd>
                <dd><a href="https://account.hpcloud.com">Account</a></dd>
            </dl>
            <dl>
                <dt>About Us</dt>
                <dd><a href="https://www.hpcloud.com/about-us">About HP Cloud</a></dd>
                <dd><a href="http://hp.com/cloud">HP Converged Cloud</a></dd>
                <dd><a href="http://hp.com/">hp.com</a></dd>
                <dd><a href="https://www.hpcloud.com/jobs">Careers</a></dd>
            </dl>
            <dl>
                <dt>Contact</dt>
                <dd>
                    1-855-61CLOUD<br>
                    (855-612-5683)<br>
                    Intl: +1678-745-9010<br>
                </dd>
                <dd><a href="https://www.hpcloud.com/contact_us">Contact Us</a></dd>
            </dl>    </nav>
        <div id="content-info" role="contentinfo">
            <div class="container">
                <div class="grid_1">
                    <ul>
                        <li><a href="http://welcome.hp.com/country/us/en/privacy.html" target="_blank">Privacy Statement</a></li>
                        <li><a href="http://www8.hp.com/us/en/privacy/terms-of-use.html" target="_blank">Terms of Use</a></li>
                        <li><a href="https://www.hpcloud.com/legal_docs">HP Cloud Services Legal Documents</a></li>
                        <li><a href="https://www.hpcloud.com/jobs" title="Jobs at HP Cloud">Jobs</a></li>
                        <li><a href="https://www.hpcloud.com/contact_us">Contact Us</a></li>
                    </ul>
                </div>
                <div class="grid_2 align-right">
                    ©
                    2013
                    Hewlett-Packard Development Company, L.P.
                </div>
            </div>
        </div>
    </footer>

</div>