<div id="hp-header" class="clearfix"  >
    <div class="banner container">
        <div class="logo span2">
            HP Logo
        </div>
        <div class="navigation span8">
            <ul>
                <li>
                    <a href="#">Menu 1</a>

                </li>
                <li>
                    <a href="#">Menu 2</a>
                    <div class="submenu">
                        <ul>
                            <li>
                                <a href="#">Menu 2 - Submenu link1</a>
                            </li>
                            <li>
                                <a href="#">Menu 2 - Submenu link2</a>
                            </li>
                            <li>
                                <a href="#">Menu 2 - Submenu link3</a>
                            </li>
                            <li>
                                <a href="#">Menu 2 - Submenu link4</a>
                            </li>
                        </ul>

                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<div id="main-content">
    <iframe src="http://launch.cloudifysource.org/demos/embedded/default_demo@gigaspaces.com" style="height:100%; width:100%" ></iframe>
</div>
