<div id="widget-content">
    <div id="widgets">
        <ul>
            <li class="widgetItem" id="widget{{widget.id}}" ng-class="{selected:selectedWidget == widget}" index="{{$index}}" ng-click="widgetClick(widget)" ng-repeat="widget in widgetsList">
                    <div id="widgetIcon">
                        <img ng-src="http://latestwidget.gsdev.info/widget/icon?apiKey={{widget.apiKey}}" />
                    </div>
                    <div id="widgetName">{{widget.productName}}</div>
            </li>
        </ul>
    </div>
    <div id="selectedArrow"></div>
    <div id="skin">
        <div id="widgetSkin" ng-include src="'views/widgetSkin.html'"></div>
    </div>
    <div id="instructions" class="instructions" ng-show="currentStep == '2'">
        <ol>
            <li><span class="instructionsNumber">1.</span> Select the service to run from panel on left</li>
            <li><span class="instructionsNumber">2.</span> Press the orange play button to start preview</li>
            <li><span class="instructionsNumber">3.</span> Click "Manage your app" to monitor the service deployment</li>
            <li><span class="instructionsNumber">4.</span> Service deployment may takes 2-5 minutes</li>
        </ol>
    </div>
    <div id="registeredInstructions" class="instructions" ng-show="currentStep == '4'">
        <ol>
            <li><span class="instructionsNumber">1.</span> Enter your HP Cloud credentials. If you are not a current HP Cloud user, <a href="#">create an account now</a></li>
            <li><span class="instructionsNumber">2.</span> Select the service to run from panel on left</li>
            <li><span class="instructionsNumber">3.</span> Press the orange PLAY to start preview</li>
            <li><span class="instructionsNumber">4.</span> Click "Manage your app" to monitor service deployment</li>
            <li><span class="instructionsNumber">5.</span> Service deployment may take 2-5 minutes</li>
        </ol>
    </div>
</div>
<div get-steps-bar id="stepsBar" current-step="{{currentStep}}"></div>