<div layout current-step="2">
    <div id="widget-content">
    <div id="widgets">
        <ul>
            <li class="widgetItem" id="widget{{widget.id}}" ng-class="{selected:selectedWidget == widget}" index="{{$index}}" ng-click="widgetClick(widget)" ng-repeat="widget in widgetsList">
                    <div id="widgetIcon">
                        <img ng-src="http://{{conf.widgetServer}}/widget/icon?apiKey={{widget.apiKey}}" />
                    </div>
                    <div id="widgetName">{{widget.productName}}</div>
            </li>
        </ul>

    </div>
    <div id="skin">
        <div id="userTitle" ng-show="showLeadEmail()">You are running as {{leadMail}} <span id="signout" ng-click="signout()">Sign out </span></div>
        <div id="userTimeLeft" ng-show="showLeadEmail()">Your trial ends {{parseTrialTime(trialTimeLeft)}}</div>

        <div widget id="widgetSkin" selected-widget="selectedWidget" subtitles="getSubtitles()" require-advanced="{{requireAdvanced()}}" widget-time='widgetTime'></div>
    </div>
    <div id="instructions" class="instructions" ng-show="showInstructions()">

        <ol>
            <li>Select the service to run from panel on left</li>
            <li>Press the orange play button to start preview</li>
            <li>Click "Manage your app" to monitor the service deployment</li>

        </ol>
        <div class="instructionsNote">Note: Service deployment may takes 2-5 minutes</div><br/>

        <a href="#/signup" class="sign-up-now" ng-show="showSignupLink()">sign up for free trial now</a>
    </div>
    <div id="registeredInstructions" class="instructions" ng-show="showAdvancedInstructions()">
        <ol>
            <li>Enter your HP Cloud credentials</li>
            <li>Select the service to run from panel on left</li>
            <li>Press the orange PLAY to start preview</li>
            <li>Click "Manage your app" to monitor service deployment</li>
        </ol>
        <div class="instructionsNote">Note: Service deployment may take 2-5 minutes</div>
    </div>
    </div>
</div>