<div layout current-step="3">
<div id="main-content" class="clearfix">

    <div id="signupText">
        <ul>
            <li>30 day FREE trial of Cloudify App Catalog</li>
            <li>Spin-up open source solutions on the OpenStack based Public Cloud</li>
            <li>No credit card required</li>
            <li>No HP Public Cloud account required for trial</li>
        </ul>
        <div id="signupSteps">
            Simple 4 Step Process
            <ol>
                <li>Provide valid email ID</li>
                <li>Check email for activation code</li>
                <li>Add activation code</li>
                <li>Start trial & spin-up open source applications</li>
            </ol>
        </div>
    </div>

    <div id="formContainer" class="linedContainer">

        <div id="detailsForm" ng-show="showDetailsForm()">
            <div id="formRequiredText">
                * Reqired field
            </div>
            <form id="signupForm">
                <div class="formTitle">Get Started:</div>
                <table>
                    <tr>
                        <td>First name <span class="requiredStar">*</span></td>
                        <td><input type="text" id="fname" ng-model="formData.fname" required autofocus></td>
                    </tr>
                    <tr>
                        <td>Last name <span class="requiredStar">*</span></td>
                        <td><input type="text" id="lname" ng-model="formData.lname" required></td>
                    </tr>
                    <tr>
                        <td>Email <span class="requiredStar">*</span></td>
                        <td><input type="email" id="email" ng-model="formData.email" autocomplete="off" required></td>
                    </tr>
                    <tr>
                        <td>Phone</td>
                        <td><input type="text" name="phone"></td>
                    </tr>
                </table>
                <div id="formFooterText">
                    <div id="switchToActivationForm" class="formSwitch">Already have activation code? <span class="clickText" ng-click="alreadyHasActivationCode(true)">Click here</span></div>
                    <div class="signupDisclaimer"><input type="checkbox" id="signupCheckbox" ng-model="formData.agreeTerms">I agree to the <a href="#/terms">Terms and Conditions</a> of the free trial</div>
                </div>
                <button id="submitBtn" ng-click="signupSubmitClick()" ng-class="{'submitBtnDisabled': !isSubmitActive(), 'submitBtn': isSubmitActive()}">Sign Up</button>

            </form>
        </div>

        <div id="codeForm" ng-show="!showDetailsForm()">
            <form id="activationForm">
                <div class="formTitle">Activate Trial</div>
                <div id="activateText">Please check your email for link to activate Free Trial.</div>
                <div id="activateNote">
                    Note: If you do not see your email in your inbox please check your junk mail folder for email with<br>
                    Subject: Your Cloud Player Trial Verification<br>
                    From: Cloudify Player
                </div>
                <table>
                    <tr>
                        <td>Mail <span class="requiredStar">*</span></td>
                        <td><input type="text" id="activationMail" ng-model="formData.email" required></td>
                    </tr>
                    <tr>
                        <td>Enter Code <span class="requiredStar">*</span></td>
                        <td><input type="password" id="code"  ng-model="formData.activationCode" autofocus required></td>
                    </tr>
                </table>
                <div id="switchToSignUpForm" class="formSwitch">Don't have activation code? <span class="clickText" ng-click="alreadyHasActivationCode(false)">Click here</span></div>
                <button id="codeSubmitBtn" class="submitBtn" ng-click="codeSubmitClick()" ng-class="{'submitBtnDisabled': !isLoginActive(), 'submitBtn': isLoginActive()}">Login</button>
            </form>
        </div>
    </div>

</div>
</div>
