<div layout show-steps="false">
    <div id="support-content">
        <div id="supportText">
            <h3> HP Public Cloud </h3>
            <ul>
                <li>Create a new account: <a href="mailto:sales@hpcloud.com" target="_blank">sales@hpcloud.com</a> or <a href="http://www.hpcloud.com/free-trial" target="_blank">Click Here</a></li>
                <li>Get support:
                    <ul>
                        <li>Call 855-612-5683 US/Can +1 678-745-9010 from all other countries</li>
                        <li>Email <a href="mailto:support@hpcloud.com">support@hpcloud.com</a></li>
                        <li><a href="http://www.hpcloud.com/about/contact" target="_blank">HP Cloud Web Support Page</a></li>
                    </ul></li>

                <li>HP Public Cloud <a href="http://www.hpcloud.com/legal-documents" target="_blank">terms of use</a></li>
            </ul>
            <h3>Cloudify</h3>
            <ul>
                <li>Cloudify support: <a href="http://www.gigaspaces.com/support-center" target="_blank">Click Here</a></li>
            </ul>
        </div>
        <div id="feedback">
            <form>
                <div class="feedbackTitle">Feedback</div>
                <div ng-class="{'feedbackResult sent':  feedbackSent, 'feedbackResult error': feedbackSentError}" ng-show="feedbackSent">{{feedbackSent == true && feedbackSentError == true && "Error sending feedback" || "Feedback sent successfully" || ""}}</div>
                <table>
                    <tr>
                        <td>Name <span class="requiredStar">*</span></td>
                        <td><input type="text" id="feedbackName" ng-model="feedbackData.name" required autofocus></td>
                    </tr>
                    <tr>
                        <td>Email <span class="requiredStar">*</span></td>
                        <td><input type="email" id="feedbackEmail" ng-model="feedbackData.email" autocomplete="off" required></td>
                    </tr>
                </table>
                Feedback
                <textarea id="feedbackText" ng-model="feedbackData.feedback" required></textarea>
                <button id="feedbackSubmitBtn" ng-class="{'submitBtnDisabled': !isSendActive(), 'submitBtn': isSendActive() }" ng-click="sendFeedback()">{{getSendButtonText()}}</button>
            </form>
        </div>
    </div>
</div>
