<div id="support-content">
    <div id="supportText">
        <ul>
            <li>To create an HP Cloud Account: sales@hpcloud.com or <a href="http://www.hpcloud.com/free-trial">Click Here</a></li>
            <li>For Cloudify support: <a href="#">Click Here</a></li>
            <li>For HP Cloud support:
                <ul>
                    <li>Call 855-612-5683 US/Can +1 678-745-9010 from all other countries</li>
                    <li>Email support@hpcloud.com</li>
                    <li><a href="http://www.hpcloud.com/about/contact">Click Here</a></li>
                </ul>
            </li>
            <li>For Gigaspace support <a href="#">Click Here</a></li>
            <li>HP Public Cloud <a href="http://www.hpcloud.com/legal-documents">terms of use</a></li>
            <li>Gigaspaces Cloudify <a href="#">terms of use</a></li>
        </ul>
    </div>
</div>
