<div id="main-content">

    <div id="widgetContainer">

        <div id="widget-header">
            <div id="title">{{selectedWidget.productName}}</div>
            <div class="beta-ribbon"></div>
        </div>

        <div id="logContainer">
            <ul id="log"></ul>
            <ul id="links">{{selectedWidget.productName}} Console</ul>
            <span id="time_left">
                Time left:
                <span id="time_left_counter">{{widgetTime}}</span>
            </span>
            <div id="controls">
                <div class="button">
                    <div id="play_btn"></div>
                    <div id="stop_btn"></div>
                </div>
            </div>
        </div>

        <div id="video_container">
            <iframe id="widgetVideo" ng-src="{{selectedWidget.youtubeVideoUrl}}" frameborder="0" allowfullscreen></iframe>
        </div>

        <div class="advanced_section" id="advanced">
            <div class="remember_creds">
                <div class="remember_me_title">Remember me?</div>
                <div class="remember_option"><button class="yes" onclick="$(this).trigger('yes');">Yes</button></div>
                <div class="remember_option"><button class="no" onclick="$(this).trigger('no');">No</button></div>
            </div>
            <div id="advancedHeader">
                <div id="advancedTitle">Advanced</div>
            </div>
            <form class="advanced_form" autocomplete="off">
                <input name="project_name" autocomplete="off" placeholder="project"/>
                <input name="hpcs_key" autocomplete="off" placeholder="HPCS Key"/>
                <input name="hpcs_secret_key" placeholder="HPCS Secret Key" type="password"/>

                <div class="form-footer-links">
                    <a class="form-footer-links" href="http://youtu.be/lHtOBXpouyo" target="_blank">Help</a>
                    <a style="display:none" id="hp_console_link" class="form-footer-links" href="http://console.hpcloud.com" target="_blank">HP Console</a>
                </div>
                <input type="submit" class="hidden" value="submit"/>
            </form>
        </div>

        <!--<div id="widget-footer">-->
            <!--<div id="poweredText">Powered by:</div>-->
            <!--<a href="http://hpcloud.com" target="_blank" id="hpLogo"><img class="brand_btns" src="images/hp_cloud_icon.white.png"></a>-->
            <!--<a href="http://cloudifysource.org" target="_blank" id="cloudifysLogo"><img class="brand_btns" src="images/cloudify_icon.white.png"></a>-->
            <!--<a herf="javascript:void(0)" id="patent_pending">&nbsp;&nbsp;(Patent Pending)</a>-->
            <!--<div id="social">-->
                <!--<span id="embed_btn"><img src="images/share_widget.png"></span>-->
                <!--<a class="share_link" id="facebook_share_link" href="http://www.facebook.com/sharer/sharer.php?u=http://launch.cloudifysource.org/admin/signin"><img src="images/share_facebook.png"></a>-->
                <!--<a class="share_link" id="google_plus_share_link" href="https://plus.google.com/share?url=http://launch.cloudifysource.org/admin/signin"><img src="images/share_google.png"></a>-->
                <!--<a class="share_link" id="twitter_share_link" href="https://twitter.com/share?url=http%3A%2F%2Ferez.cloudifysource.org%2Fdemos%2F131%2F189c8c97-c48a-4020-b680-0146f70b0626&amp;text=Launch%20MongoDB%20on%20any%20cloud%20with%20a%20single%20click%20with%20%23cloudifysource"><img src="styles/img/share_twitter.png"></a>-->
            <!--</div>-->
        <!--</div>-->

        <div id="embed-code-box" style="display: none;">
            <i class="close"></i>
            <h3>Embed Code</h3>
            <p>Copy the code below to embed the widget on your website.</p>
            <textarea class="autoselect" readonly="readonly">
                &lt;script type="text/javascript" id="cloudify-widget" data-api-key="{{selectedWidget.apiKey}}" data-title="{{selectedWidget.productName}}" data-host="latestwidget.gsdev.info" data-video_url="http://www.youtube.com/embed/w5qr4sx5Vt0" src="http://latestwidget.gsdev.info/js/get_widget.js"&gt;&lt;/script&gt;</textarea>
        </div>
    </div>

    <iframe id="iframe" ng-src="http://latestwidget.gsdev.info/widget/widget?apiKey={{selectedWidget.apiKey}}&origin_page_url={{page_url}}"></iframe>
</div>