<div id="skin-content">

    <div id="widgetContainer">

        <div id="widget-header">
            <div id="title">{{currentStep == '2' && selectedWidget.productName != undefined && "Launch " + selectedWidget.productName + " Now!"|| "Cloudify App Catalog" || "Cloudify App Catalog"}}</div>
        </div>

        <div id="logContainer">
            <ul id="log">
                <li ng-repeat="msg in widgetLog" ng-bind-html-unsafe="msg"></li>
            </ul>
            <ul id="links"><li>{{selectedWidget.productName}} Console</li><li id="manageApp" ng-show="manageUrl != null"><div class="consoleManageArrow"></div><a href="{{manageUrl}}" target="_blank">Manage your app</a></li></ul>
            <span id="time_left" ng-class="currentStep == '2' && 'visible' || 'hidden'">
                Time left:
                <span id="time_left_counter">{{widgetTime}}</span>
            </span>
        </div>

        <div id="controls">
            <div class="button">
                <div id="play_btn" ng-class="{disabled: currentStep == '4' || selectedWidget.productName == undefined}"></div>
                <div id="stop_btn"></div>
            </div>
        </div>

        <div id="video_container" ng-class="currentStep == '2' && 'videoPreview' || 'videoRegistered'">
            <iframe id="widgetVideo" ng-src="{{selectedWidget.youtubeVideoUrl}}" frameborder="0" allowfullscreen></iframe>
        </div>

        <div ng-class="currentStep == '2' && 'hidden' || 'advanced_section'" id="advanced">
            <div class="remember_creds">
                <div class="remember_me_title">Remember me?</div>
                <div class="remember_option"><button class="yes" onclick="$(this).trigger('yes');">Yes</button></div>
                <div class="remember_option"><button class="no" onclick="$(this).trigger('no');">No</button></div>
            </div>
            <div id="advancedHeader">
                <div id="advancedTitle">HP Cloud Credentials</div>
            </div>
            <div class="form-footer-links">
                <a class="form-footer-links" href="http://youtu.be/lHtOBXpouyo" target="_blank">Help</a>
                <a style="display:none" id="hp_console_link" class="form-footer-links" href="http://console.hpcloud.com" target="_blank">HP Console</a>
            </div>
            <form class="advanced_form" autocomplete="off">
                <input name="project_name" autocomplete="off" placeholder="project"/>
                <input name="hpcs_key" autocomplete="off" placeholder="HPCS Key"/>
                <input name="hpcs_secret_key" placeholder="HPCS Secret Key" type="password"/>
                <div id="createAccount"><a href="http://www.hpcloud.com/free-trial">Create HP Public Cloud account</a></div>
                <input type="submit" class="hidden" value="submit"/>
            </form>
        </div>

    </div>

    <iframe id="iframe" ng-src="http://{{conf.widgetServer}}/widget/widget?apiKey={{selectedWidget.apiKey}}&origin_page_url={{pageUrl}}/{{selectedWidget.apiKey}}"></iframe>
</div>